{{#extend "base"}}
  {{#content "main" mode="prepend"}}
    <div class="bnr" id="top">
      <div class="container">
        <img
          src="{{baseImgUrl}}2024summer-banner-summer.svg"
          alt="Summer Sale Banner"
          width="400"
          height="60"
        />
        <p class="text">测试</p>
        <img
          src="{{baseImgUrl}}2024summer-banner-title.svg"
          width="800"
          height="200"
          alt="Summer Sale Title"
          srcset=""
        />
        <img src="/assets/img/upgrade-img-upab-step1.png" alt="" srcset="">
        <div class="timeout-box">
          <div class="timeout">
            <input type="hidden" id="hour" value="Hours" />
            <input type="hidden" id="minute" value="Minutes" />
            <input type="hidden" id="second" value="Seconds" />
            <input type="hidden" id="millisecond" value="MS" />
            <input type="hidden" id="endtime" value="2023/8/10" />
            <div id="McountdownY" class="countdown-x"></div>
          </div>
        </div>
      </div>
    </div>

  {{/content}}
{{/extend}}